llama-index
llama-index-llms-ollama
llama-index-embeddings-ollama
llama-index-postprocessor-sbert-rerank
llama-index-vector-stores-qdrant
llama-index-vector-stores-chroma
streamlit
qdrant-client
chromadb
python-frontmatter
pandas

